#player
{
    height:30px;
    width:30px;
    background-color: red;
}

.programmable
{
    
}

.programmed
{
    background-color: #1f1f1f !important;
}

.codeContent
{
    width:100%;
    height:100%;
}

#TEST
{
    height:500px;
    width:500px;
    background-color: green;
    transition: all 1s;
}