#player {
    height: 30px;
    width: 30px;
    background-color: red;
}

.programmable {
    position: relative;
}

.programmed {
    background-color: #1f1f1f !important;
}

.codeContent {
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

.codeContent code {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0 !important;
}

.codeInput {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    z-index: 3;
    padding: 0 !important;
    color: transparent;
    white-space: pre-wrap;
    color: white;
    -webkit-text-fill-color: transparent;
}

#TEST {
    height: 500px;
    width: 500px;
    background-color: green;
    transition: all 1s;
}