#player
{
    height:30px;
    width:30px;
    background-color: red;
}

.programmable
{
    position: relative;
}

.programmed
{
    background-color: #1f1f1f !important;
}

.codeContent
{
    width:100%;
    height:100%;
    white-space: normal;     /* Allows text to wrap normally */
    word-wrap: break-word;   /* Breaks long words if needed */
    overflow-wrap: break-word; /* Modern equivalent for word-wrap */
}

.codeInput
{
    width: 100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background:none;
    
}

#TEST
{
    height:500px;
    width:500px;
    background-color: green;
    transition: all 1s;
}