#player
{
    height:30px;
    width:30px;
    background-color: red;
}

.programmed
{
    background-color: #1f1f1f !important;
}

#TEST
{
    height:30px;
    width:30px;
    background-color: green;
    transition: all 1s;
}